.banner{
   display: flex;
   align-items: center;
   justify-content: center;
   background-color: white;
   // background-color: bisque;
   // background-color: #efe6d7;
   // background-color: black;
   // height: auto;
   // width: auto;
   img{
      height: 30vw;
      width: 100vw;
   }
}
